## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## IDE
.vs/
.vscode/
.idea/
*.swp

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.Development.json
*.pfx

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
