<app-members-presenter
  [members]="members"
  [loading]="loading"
  [metaLoading]="metaLoading"
  [formLoading]="formLoading"
  [error]="error"
  [metaError]="metaError"
  [actionError]="actionError"
  [successMessage]="successMessage"
  [formError]="formError"
  [savingMember]="savingMember"
  [anonymizeConfirmId]="anonymizeConfirmId"
  [anonymizingMemberId]="anonymizingMemberId"
  [showForm]="showForm"
  [editingId]="editingId"
  [filters]="filters"
  [hasLoadedMembers]="hasLoadedMembers"
  [formData]="formData"
  [canManageMembers]="canManageMembers"
  [page]="page"
  [pageSize]="pageSize"
  [totalCount]="totalCount"
  [totalPages]="totalPages"
  [hasNext]="hasNext"
  [hasPrevious]="hasPrevious"
  (applyFiltersRequested)="applyFilters()"
  (pageChanged)="changePage($event)"
  (pageSizeChanged)="changePageSize($event)"
  (viewMemberRequested)="viewMember($event)"
  (openAddFormRequested)="openAddForm()"
  (closeFormRequested)="closeForm()"
  (editMemberRequested)="editMember($event)"
  (saveMemberRequested)="saveMember()"
  (requestDeleteMemberRequested)="requestDeleteMember($event)"
  (cancelDeleteMemberRequested)="cancelDeleteMember()"
  (deleteMemberRequested)="deleteMember($event)"
></app-members-presenter>
